<!--<button (click)="getCountries()">TAKE ALL COUNTRIES</button>
<button (click)="getItaly()">TAKE ITALY</button> -->

<div class="container p-5">
  <h1 class="text-center mb-5">
    Covid-19 API Tracker
  </h1>
  <div class="form-group row">
    <label for="country"  class="col-sm-2 col-form-label">Country code</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="countryCode" required [(ngModel)]="countryCode">
        </div>
  </div> 
  <button (click)="getData()">GO</button>
  <table class="table" *ngIf="showResult">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Updated at</th>
        <th scope="col">Population</th>
        <th scope="col">Critical</th>
        <th scope="col">Death rate</th>
        <th scope="col">Recovery rate</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer" *ngFor="let entry of singleCountryDataArray">
        <td> {{entry.data.updated_at  | date}}</td>
        <td>{{entry.data.population}}</td>
        <td>{{entry.data.latest_data.critical}}</td>
        <td>{{entry.data.latest_data.calculated.death_rate}}</td>
        <td>{{entry.data.latest_data.calculated.recovery_rate}}</td>
      </tr>
    </tbody>
  </table>
  
</div>
